<div id="oauth">
  <% if flash[:error] -%>
    <div class="error">
      <p>
        <%= flash[:error] %>
      </p>
    </div>
  <% end -%>
  <div class="information">
    <h1>Sign in (or up)</h1>
    <p class="large">
      You can use either your Twitter or Facebook account to sign in or sign up.
    </p>
    <p>
      Select your preferred method and you'll be sent off to authorise us to use your account.
    </p>
    <p>
      It&#8217;ll only take a second and your information will be perfectly safe. We don't get access to your password and <em>we won't post or tweet anything from your account</em> without your explicit permission.
    </p>
  </div>
  <%= big_twitter_login_button %>
  <%= big_facebook_login_button %>
</div>